<form method="post" action="{{ path('app_echange_delete', {'id_echange': echange.id_echange}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ echange.id_echange) }}">
    <button class="btn">Delete</button>
</form>
